@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&family=Montserrat:wght@500&family=Space+Mono:ital,wght@0,400;0,700;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    display: block;
    background-color: #1e1f26;
    color: #caf0f8;
    font-family: "Space Mono", monospace;

}

header {
    margin: 0 auto;
    background-color: #1e1f26;
    padding: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3em;
    letter-spacing: 5px;
    font-family: "Josefin Sans", sans-serif;
    color: #07b2ff;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
}

h2 {
    margin: 0 auto;
    font-weight: 500;
    font-size: 2em;
    color: #07b2ff;
    text-align: center;
    transition: all 0.3s ease;
}
h3 {
    margin: 10px;
    padding: 7px;
    font-weight: 500;
    font-size: 1.3em;
    color: #07b2ff;
  }
  h3:hover { 
    color: #ff00cc;
}
.App {
    margin: 30px auto;
    text-align: center;
}

nav {
    padding: 5px;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.book-list {
    padding: 20px;
    margin-bottom: 20px;
}

.book-list ul {
    padding: 0;
    list-style-type: none;
}

.book-list li {
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
}

input {
    margin-left: 5px;
}

input[type="text"] {
    padding: 7px 10px;
}

input[type="submit"] {
    padding: 7px 10px;
    margin-right: 5px;
    cursor: pointer;
    background-color: #07b2ff;
    color: #fff;
    border-radius: 3px;
    border: none;
    transition: transform 0.7s ease;
}

input[type="submit"]:hover {
    transform: scale(1.1);
    background-color: #ff00cc;
 }
 
 form {
margin-top: 3em;
}
.title {
    font-size: 2em;
}

.author {
    font-size: 1.2em;
}
.empty {
    margin-top: 3em;
}